[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd

[Service]
EnvironmentFile=/etc/etcd/etcd.env
Type=notify
Restart=on-failure
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0
ExecStart=/usr/local/bin/etcd \
    --name ${PEER_NAME} \
    --data-dir=data.etcd \
    --initial-advertise-peer-urls https://${PRIVATE_IP}:2380 \
    --listen-peer-urls https://${PRIVATE_IP}:2380 \
    --listen-client-urls https://${PRIVATE_IP}:2379,https://127.0.0.1:2379 \
    --advertise-client-urls https://${PRIVATE_IP}:2379 \
    --initial-cluster-token etcd-cluster-metrics \
    --initial-cluster ${INIT_CLUSTER} \
    --initial-cluster-state new \
    --client-cert-auth \
    --trusted-ca-file={{ etcd.etcd_path_cert }}/ca.pem \
    --cert-file={{ etcd.etcd_path_cert }}/etcd.pem \
    --key-file={{ etcd.etcd_path_cert }}/etcd-key.pem \
    --peer-cert-file={{ etcd.etcd_path_cert }}/etcd.pem \
    --peer-key-file={{ etcd.etcd_path_cert }}/etcd-key.pem \
    --peer-trusted-ca-file={{ etcd.etcd_path_cert }}/ca.pem \
    --snapshot-count '10000'

[Install]
WantedBy=multi-user.target
