apiVersion: kubeadm.k8s.io/v1beta2
kind: clusterconfiguration
networking:
  podsubnet: "{{ kubernetes.CIDR }}"
etcd:
  external:
    endpoints:
  {% for host in groups['master'] %}
  - https://{{ hostvars[host].ansible_host }}:2379
  {% endfor %}
  cafile: /etc/kubernetes/pki/etcd/ca.pem
    certfile: /etc/kubernetes/pki/etcd/etcd.pem
    keyfile: /etc/kubernetes/pki/etcd/etcd-key.pem
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: initconfiguration
localapiendpoint:
  advertiseaddress: "{{ hostvars[groups['master'][0]]['ansible_host'] }}"
