apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ nfs_storage.storageclass_name }}"
provisioner: "{{ nfs_storage.provisioner }}"
parameters:
  archiveOnDelete: "{{ nfs_storage.archive_delete }}"
reclaimPolicy: Retain
allowVolumeExpansion: true
